@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;800&family=Gloock&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Merriweather:wght@300&family=Montserrat:ital,wght@0,100;0,400;1,100&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;1,700&family=Poppins:ital,wght@0,100;1,100&family=Roboto+Condensed:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,300;1,100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,600&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'Cairo', sans-serif;
font-family: 'Gloock', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;

}

header{
position: fixed;
display: flex;
width: 100%;
z-index : 999;
padding: 20px 200px;
align-items: center;
justify-content: space-between;
background: wheat;
}

.logo{
text-decoration: none;
color: rgb(201, 99, 99);
font-weight: 700;
font-size: 1.3em;
}

.name a{
text-decoration: none;
font-weight: 400;
font-size: 1.2em;
color: rgb(201, 99, 99);
margin: 1em;
transition: all .40s ease;

}

.name a:hover{
color: rgb(197, 174, 174);
text-decoration: overline;
}



section{
padding: 200px 200px;

}

.index{
display: flex;
width: 100%;
min-height: 100vh;
background: url(../pexels-oleksandr-pidvalnyi-344060.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
align-items: center;
margin-bottom: 20px;

}
.paregrafC{

margin-top: 20px;

}
.paregraf h2{
font-size: 1.7em;
font-weight: 700;
color: black;

}


.paregraf p{
font-weight: 900;
font-size: 1.5em;
color: black;
}

.btn{
display: inline-block;
text-decoration: none;
font-weight: 400;
font-size: 1.6em;
color: rgb(110, 39, 39);
border: 1px solid ;
border-radius: 10px;
background: rgb(202, 82, 82);
padding: 17px;
margin: 10px;
transition: all.40s ease;
}

.btn:hover{
background: transparent;
transform: scale(1.1);
}

.sosheil-icon a{
font-size: 40px;
color: rgb(0, 0, 0);
padding: 12px;
margin-left: -7px;
display: inline-block;
border: 1px solid ;
border-radius: 10px;
background-color: rgb(202, 82, 82);
transition: 0.6s ease;
}
.sosheil-icon a:hover{
background: transparent; 
transform: scale(1.1);
}


.title{
color: rgb(0, 0, 0);
font-size: 1.7em;
font-weight: 600;
display:flow-root;
justify-content: center;

}



.framework{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}

.careds{
background-color: white;
width: 340px;
box-shadow: 0 5px 25px rgba(1 1 1 /15%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition:  0.7s ease;
}
.careds:hover{
    transform: scale(1.1);

}
.icon-img{
    font-size: 8em;
    color: wheat;
    text-align: center;
}
.text-img{
font-weight: 200;
font-size: 1.5em;
color: rgb(63, 52, 38);
justify-content: center;
text-align: center;
margin: 10px;
}

.text-img h3{
    font-size: 1.7em;
    font-weight: 700;
    margin: 10px;
    letter-spacing: 2px;
}

.text-img p{
font-weight: 500;
font-size: 1.4em;
margin: 10px;
}

.text-img h3{
color: rgb(194, 116, 21);

}
.services .framework{
margin-top: 30px;

}

.img-card{
background-color: bisque;
border: 1px solid wheat;
width: 24em;
min-height: 14em;
overflow: hidden;
border-radius: 10px;
margin: 20px;
transition: 0.7s ease;
}

.img-card:hover {
transform: scale(1.1);
}

.img-card:hover img{
opacity: 0.9;

}

.img-icon img{
width: 100%;

}

.text-icon{
padding: 2em;

}

.page-1{
display: flex;
justify-content: space-between;
font-weight: 800;
margin-top: 10px;
text-transform: capitalize;
}
.page-1 .span{
font-weight: 900;

}
.mom{
background-color: black;
color: rgb(255, 255, 255);
display: flex;
padding: 2em;
justify-content: space-between;
}

.footer-title{
font-size: 1.1em;
font-weight: 600;
}

.footer-title span{
color: rgb(212, 154, 45);
}

.pro a{
font-size: 1.3em;
color: aliceblue;
margin: 1em;
}

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
        width: 100%;
    }

.title{
    font-size: 1.4em;
}

section{
    padding: 80px 20px;
    
    }


}